<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Utilisateur </h5>
        <button type="button" class="close" aria-label="Close" (click)="createHide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="card col-md-12 mx-auto  p-md-2">
    
    <div class="card-body">
        <div class="row">
                <div class="col-md-6 py-2">
                    <label>verified</label>
                    <select class="form-control" [(ngModel)] = "utilisateur.verified">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="col-md-6 py-2">
                    <label>about</label>
                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.about">
                </div>
                <div class="col-md-6 py-2">
                    <div class="p-grid ui-fluid">
                        <label>dateNaissance</label>
                        <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "utilisateur.dateNaissance"></p-calendar>
                    </div>
                </div>
                <div class="col-md-6 py-2">
                    <label>profilVisible</label>
                    <select class="form-control" [(ngModel)] = "utilisateur.profilVisible">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="col-md-6 py-2">
                    <label>tel</label>
                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.tel">
                </div>
                <div class="col-md-6 py-2">
                    <label>password</label>
                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.password">
                </div>
                <div class="col-md-6 py-2">
                    <label>role</label>
                    <select class="form-control" [(ngModel)] = "utilisateur.role">
                        <option value="admin">admin</option>
                        <option value="student">student</option>
                        <option value="allumni">allumni</option>
                        <option value="professor">professor</option>
                    </select>
                </div>
                <div class="col-md-6 py-2">
                    <label>email</label>
                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.email">
                </div>
        </div>
                    <div class="card-header row py-2" *ngIf="utilisateur.role=='admin'">adminInfo</div>
                    <div class="card body row py-2" *ngIf="utilisateur.role=='admin'">
                        <div class="row">
                                    <div class="col-md-6 py-2"><label>nom</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.adminInfoVo.nom">
                                    </div>
                                    <div class="col-md-6 py-2"><label>prenom</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.adminInfoVo.prenom">
                                    </div>
                                    <div class="col-md-6 py-2"><label>code</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.adminInfoVo.code">
                                    </div>
                                <div class="col-md-6 py-2"><label>compte email</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.adminInfoVo.compteVo.email">
                                </div>
                        </div>
                    </div>
                    <div class="card-header row py-2" *ngIf="utilisateur.role=='allumni'" >laureatInfo</div>
                    <div class="card body row py-2" *ngIf="utilisateur.role=='allumni'">
                        <div class="row">
                                    <div class="col-md-6 py-2"><label>anneFinEtude</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.anneFinEtude">
                                    </div>
                                    <div class="col-md-6 py-2"><label>prenom</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.prenom">
                                    </div>
                                    <div class="col-md-6 py-2"><label>nom</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.nom">
                                    </div>
                                    <div class="col-md-6 py-2"><label>linkedIn</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.linkedIn">
                                    </div>
                                    <div class="col-md-6 py-2"><label>cne</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.cne">
                                    </div>
                                    <div class="col-md-6 py-2"><label>codeApogee</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.codeApogee">
                                    </div>
                                <div class="col-md-6 py-2"><label>sexe ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.sexeVo.ref">
                                </div>
                                <div class="col-md-6 py-2"><label>formationActuelle ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.formationActuelleVo.ref">
                                </div>
                                <div class="col-md-6 py-2"><label>fonctionActuelle ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.fonctionActuelleVo.ref">
                                </div>
                                <div class="col-md-6 py-2"><label>compte email</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.laureatInfoVo.compteVo.email">
                                </div>
                        </div>
                    </div>
                    <div class="card-header row py-2"  *ngIf="utilisateur.role=='student'">etudiantInfo</div>
                    <div class="card body row py-2"  *ngIf="utilisateur.role=='student'" >
                        <div class="row">
                                    <div class="col-md-6 py-2"><label>anneFinEtude</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.anneFinEtude">
                                    </div>
                                    <div class="col-md-6 py-2"><label>prenom</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.prenom">
                                    </div>
                                    <div class="col-md-6 py-2"><label>nom</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.nom">
                                    </div>
                                    <div class="col-md-6 py-2"><label>linkedIn</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.linkedIn">
                                    </div>
                                    <div class="col-md-6 py-2"><label>cne</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.cne">
                                    </div>
                                    <div class="col-md-6 py-2"><label>codeApogee</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.codeApogee">
                                    </div>
                                <div class="col-md-6 py-2"><label>sexe ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.sexeVo.ref">
                                </div>
                                <div class="col-md-6 py-2"><label>formationActuelle ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.formationActuelleVo.ref">
                                </div>
                                <div class="col-md-6 py-2"><label>fonctionActuelle ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.fonctionActuelleVo.ref">
                                </div>
                                <div class="col-md-6 py-2"><label>compte email</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.etudiantInfoVo.compteVo.email">
                                </div>
                        </div>
                    </div>
                    <div class="card-header row py-2" *ngIf="utilisateur.role=='professor'">professeurInfo</div>
                    <div class="card body row py-2" *ngIf="utilisateur.role=='professor'">
                        <div class="row">
                                    <div class="col-md-6 py-2"><label>code</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.professeurInfoVo.code">
                                    </div>
                                    <div class="col-md-6 py-2"><label>prenom</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.professeurInfoVo.prenom">
                                    </div>
                                    <div class="col-md-6 py-2"><label>nom</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.professeurInfoVo.nom">
                                    </div>
                                <div class="col-md-6 py-2"><label>etablissement ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.professeurInfoVo.etablissementVo.ref">
                                </div>
                                <div class="col-md-6 py-2"><label>compte email</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.professeurInfoVo.compteVo.email">
                                </div>
                        </div>
                    </div>
                    <div class="card-header row py-2">reponses</div>
                    <div class="card body row py-2">
                        <div class="row">
                                    <div class="col-md-6 py-2"><label>reponse</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.reponsesVo.reponse">
                                    </div>
                                    <div class="col-md-6 py-2"><label>ref</label>
                                        <input type="text" class="form-control" [(ngModel)] = "utilisateur.reponsesVo.ref">
                                    </div>
                                <div class="col-md-6 py-2"><label>question formule</label>
                                    <input type="text" class="form-control" [(ngModel)] = "utilisateur.reponsesVo.questionVo.formule">
                                </div>
                        </div>
                    </div>
                <div class="card row">
                    <div class="card-header">Add messagesRecus</div>
                    <div class="card-body">
                        <div class="row">
                                <div class="col-md-6 py-2"><label>contenu</label>
                                    <input type="text" class="form-control" [(ngModel)] = "messagesRecus.contenu" >
                                </div>
                                <div class="col-md-6 py-2"><label>ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "messagesRecus.ref" >
                                </div>
                                <div class="col-md-6 py-2"><label>objet</label>
                                    <input type="text" class="form-control" [(ngModel)] = "messagesRecus.objet" >
                                </div>
                                    <div class="col-md-6 py-2"><label>demandeConcerne ref</label>
                                        <input type="text" class="form-control" [(ngModel)] = "messagesRecus.demandeConcerneVo.ref">
                                    </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-danger btn-block" (click)="addmessagesRecus()">+</button>
                        </div>
                    </div>
                </div>
                <div class="card row table-responsive">
                    <div class="card-header">Added messagesRecuss</div>
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>contenu</th>
                                <th>ref</th>
                                <th>objet</th>
                                    <th>emetteur email</th>
                                    <th>demandeConcerne ref</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of utilisateur.messagesRecusVo;let i = index">
                                    <td>{{p.contenu}}</td>
                                    <td>{{p.ref}}</td>
                                    <td>{{p.objet}}</td>
                                        <td>{{p.emetteurVo.email}}</td>
                                        <td>{{p.demandeConcerneVo.ref}}</td>
                                    <td><button class="btn btn-dark fa fa-trash" (click)="removemessagesRecus(i)"></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card row">
                    <div class="card-header">Add messagesEnvoye</div>
                    <div class="card-body">
                        <div class="row">
                                <div class="col-md-6 py-2"><label>contenu</label>
                                    <input type="text" class="form-control" [(ngModel)] = "messagesEnvoye.contenu" >
                                </div>
                                <div class="col-md-6 py-2"><label>ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "messagesEnvoye.ref" >
                                </div>
                                <div class="col-md-6 py-2"><label>objet</label>
                                    <input type="text" class="form-control" [(ngModel)] = "messagesEnvoye.objet" >
                                </div>
                                    <div class="col-md-6 py-2"><label>demandeConcerne ref</label>
                                        <input type="text" class="form-control" [(ngModel)] = "messagesEnvoye.demandeConcerneVo.ref">
                                    </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-danger btn-block" (click)="addmessagesEnvoye()">+</button>
                        </div>
                    </div>
                </div>
                <div class="card row table-responsive">
                    <div class="card-header">Added messagesEnvoyes</div>
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>contenu</th>
                                <th>ref</th>
                                <th>objet</th>
                                    <th>emetteur email</th>
                                    <th>demandeConcerne ref</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of utilisateur.messagesEnvoyeVo;let i = index">
                                    <td>{{p.contenu}}</td>
                                    <td>{{p.ref}}</td>
                                    <td>{{p.objet}}</td>
                                        <td>{{p.emetteurVo.email}}</td>
                                        <td>{{p.demandeConcerneVo.ref}}</td>
                                    <td><button class="btn btn-dark fa fa-trash" (click)="removemessagesEnvoye(i)"></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card row">
                    <div class="card-header">Add comRediges</div>
                    <div class="card-body">
                        <div class="row">
                                <div class="col-md-6 py-2"><label>comref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "comRediges.comref" >
                                </div>
                                <div class="col-md-6 py-2"><label>contenu</label>
                                    <input type="text" class="form-control" [(ngModel)] = "comRediges.contenu" >
                                </div>
                                    <div class="col-md-6 py-2"><label>publication ref</label>
                                        <input type="text" class="form-control" [(ngModel)] = "comRediges.publicationVo.ref">
                                    </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-danger btn-block" (click)="addcomRediges()">+</button>
                        </div>
                    </div>
                </div>
                <div class="card row table-responsive">
                    <div class="card-header">Added comRedigess</div>
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>comref</th>
                                <th>contenu</th>
                                    <th>publication ref</th>
                                    <th>postePar email</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of utilisateur.comRedigesVo;let i = index">
                                    <td>{{p.comref}}</td>
                                    <td>{{p.contenu}}</td>
                                        <td>{{p.publicationVo.ref}}</td>
                                        <td>{{p.posteParVo.email}}</td>
                                    <td><button class="btn btn-dark fa fa-trash" (click)="removecomRediges(i)"></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card row">
                    <div class="card-header">Add publicationsRediges</div>
                    <div class="card-body">
                        <div class="row">
                                <div class="col-md-6 py-2"><label>contenu</label>
                                    <input type="text" class="form-control" [(ngModel)] = "publicationsRediges.contenu" >
                                </div>
                                    <div class="col-md-6 py-2">
                                        <label>verified</label>
                                        <select class="form-control" [(ngModel)] = "publicationsRediges.verified">
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                        </select>
                                    </div>
                                <div class="col-md-6 py-2"><label>ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "publicationsRediges.ref" >
                                </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-danger btn-block" (click)="addpublicationsRediges()">+</button>
                        </div>
                    </div>
                </div>
                <div class="card row table-responsive">
                    <div class="card-header">Added publicationsRedigess</div>
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>contenu</th>
                                <th>verified</th>
                                <th>ref</th>
                                    <th>postePar email</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of utilisateur.publicationsRedigesVo;let i = index">
                                    <td>{{p.contenu}}</td>
                                    <td>{{p.verified}}</td>
                                    <td>{{p.ref}}</td>
                                        <td>{{p.posteParVo.email}}</td>
                                    <td><button class="btn btn-dark fa fa-trash" (click)="removepublicationsRediges(i)"></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        <div class="modal-footer" >
            <button class="form-control" (click)="saveUtilisateur()" >Save</button>
        </div>
    </div>
</div>
       </div>
	   </div>
	   </div>
	   </div>
