<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Reponse </h5>
        <button type="button" class="close" aria-label="Close" (click)="createHide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="card col-md-12 mx-auto  p-md-2">
    
    <div class="card-body">
        <div class="row">
                <div class="col-md-6 py-2">
                    <label>reponse</label>
                    <input type="text" class="form-control" [(ngModel)] = "reponse.reponse">
                </div>
                <div class="col-md-6 py-2">
                    <label>ref</label>
                    <input type="text" class="form-control" [(ngModel)] = "reponse.ref">
                </div>
        </div>
                <div class="row" >
                    <label>question</label>
                    <select class="form-control" [(ngModel)]="reponse.questionVo.formule" >
                        <option *ngFor="let p of questions" [ngValue]="p.formule" value="{{p.formule}}">{{p.formule}}</option>
                    </select>
                </div>
        <div class="modal-footer" >
            <button class="form-control" (click)="saveReponse()" >Save</button>
        </div>
    </div>
</div>
       </div>
	   </div>
	   </div>
	   </div>
