<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Etablissement </h5>
        <button type="button" class="close" aria-label="Close" (click)="createHide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="card col-md-12 mx-auto  p-md-2">
    
    <div class="card-body">
        <div class="row">
                <div class="col-md-6 py-2">
                    <label>nom</label>
                    <input type="text" class="form-control" [(ngModel)] = "etablissement.nom">
                </div>
                <div class="col-md-6 py-2">
                    <label>description</label>
                    <input type="text" class="form-control" [(ngModel)] = "etablissement.description">
                </div>
                <div class="col-md-6 py-2">
                    <label>ref</label>
                    <input type="text" class="form-control" [(ngModel)] = "etablissement.ref">
                </div>
        </div>
                <div class="card row">
                    <div class="card-header">Add formations</div>
                    <div class="card-body">
                        <div class="row">
                                <div class="col-md-6 py-2"><label>intitule</label>
                                    <input type="text" class="form-control" [(ngModel)] = "formations.intitule" >
                                </div>
                                <div class="col-md-6 py-2"><label>ref</label>
                                    <input type="text" class="form-control" [(ngModel)] = "formations.ref" >
                                </div>
                                <div class="col-md-6 py-2"><label>description</label>
                                    <input type="text" class="form-control" [(ngModel)] = "formations.description" >
                                </div>
                                    <div class="col-md-6 py-2"><label>responsable code</label>
                                        <input type="text" class="form-control" [(ngModel)] = "formations.responsableVo.code">
                                    </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-danger btn-block" (click)="addFormation()">+</button>
                        </div>
                    </div>
                </div>
                <div class="card row table-responsive">
                    <div class="card-header">Added formationss</div>
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>intitule</th>
                                <th>ref</th>
                                <th>description</th>
                                    <th>etablissement ref</th>
                                    <th>responsable code</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of etablissement.formationsVo;let i = index">
                                    <td>{{p.intitule}}</td>
                                    <td>{{p.ref}}</td>
                                    <td>{{p.description}}</td>
                                        <td>{{p.etablissementVo.ref}}</td>
                                        <td>{{p.responsableVo.code}}</td>
                                    <td><button class="btn btn-dark fa fa-trash" (click)="removeFormation(i)"></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        <div class="modal-footer" >
            <button class="form-control" (click)="saveEtablissement()" >Save</button>
        </div>
    </div>
</div>
       </div>
	   </div>
	   </div>
	   </div>
